img {
    border-radius: 10px;
  }
  
  .form-margin {
    margin-bottom: 12px;
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .cart-item-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    margin-left: 80px;
  }
  
  .number-input {
    width: 80px;
    text-align: center;
  }
  
  .cart-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
  }
  
  .cart-panel {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .empty-cart-message {
    display: flex;
    justify-content: center;
    margin-top: 64px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;

  }

  .product-item-header {
    font-size: 18.72px;
    font-weight: bold;
    margin-top: 10px;
  }


.product-price {
  margin-top: 15px;
}

.product-btn {
  margin-top: 10px;
  background: #0D6DFC;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;

}
