<div style="text-align: center; margin-top: 50px;">
        <h2 style="color: #2FE5BB;">
            Success!
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
        </h2>

        <span class="success-text">
            Thank You, <strong>{{ fullName }}</strong>
        </span><br><br>
        <span class="success-text">
            Your <strong>${{ totalPrice }}</strong> order is confirmed!
        </span><br><br>
        <span class="success-text">
            Please allow 1-3 business day(s) for shipping.
        </span><br><br>
        <span >
            <a href="/">
                Return to product list
            </a>
        </span>

</div>
