<form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="checkoutForm"  >
    <h1> Checkout </h1>
    <label>Full Name:
        <input class="form-control" formControlName="fullName">
    </label>
    <div *ngIf="checkoutForm.controls['fullName'].invalid && checkoutForm.controls['fullName'].touched" class="alert alert-danger">
        <div *ngIf="checkoutForm.controls['fullName'].errors?.['required']">
            Name is required.
      </div>
    </div>
    <br />

    <input type='submit' value="Submit" class="btn btn-primary" />
</form>


